<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="content">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div>
		<h3>게시판 목록</h3>
		<table>
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th><!-- yy년MM월dd일 -->
				</tr>
			</thead>
			<tbody>
				<th:block th:each="board, sts : ${boards}"> <!-- th: each="info, sts : ${boards}" -->
					<tr th:name="${sts.count}"
						th:onclick="|location.href='@{boardInfo(boardNo=${board.boardNo})}'|"> 
						<!-- <tr:name="${sts.count}" , "${sts.first}" , "${sts.index}"-->
						<td th:text="${board.boardNo}"></td>
						<td th:text="${board.boardTitle}"></td>
						<td th:text="${board.boardWriter}"></td>
						<td>[[${#dates.format(board.regdate, 'yyyy년MM월dd일')}]] </td>				
					<tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>
</html>