<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta name="contextPath"
	  th:value="${#httpServletRequest.getContextPath()}">
	  <!--/* ${pageContext.request.contextPath JSP에서 사용하는 방식 */-->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script> -->
<title></title>
<th:block th:replace="common/configs/default_config :: BootstrapConfigx"></th:block>
<th:block th:replace="common/configs/default_config :: jQueryConfigx"></th:block>
</head>
<body>
	<h3>전체 사원 조회</h3>
	<table>
		<thead>
			<tr>
				<th>사원번호</th>
				<th>이름</th>
				<th>입사일자</th>
				<th>부서번호</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="emp : ${empList}">
				<tr th:onclick="|location.href='@{/empInfo(empid=${emp.empid})}'|">
					<td th:text="${emp.empid}"></td>
					<td th:text="${emp.empname}" />
<!--/* 					<td>[[ ${emp.hiredate} ]]</td> */-->
					<td>[[ ${#dates.format(emp.hiredate, 'yyyy년MM월dd일')} ]] </td>
					<td>[[ ${emp.deptid} ]]</td>
				</tr>
			</th:block>
		</tbody>
	</table>
	<script>
	<!-- 이벤트커렌트타겟은 tr, 나머지는 하위애들 -->
		const context = $('meta[name="contextPath"]').attr('value');
		$('tbody > tr').on('click', function(event){
			if(event.target.tagName == 'BUTTON') return;
			
			let eId = $(event.currentTarget).children().first().text();
			let url = context + '/empInfo?empid=' + eId;
			console.log('url : ', url);
			location.href = url;
		});
		
	</script>
</body>
</html>