<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title></title>
<th:block th:replace="common/configs/default_config :: BootstrapConfigx"></th:block>
<th:block th:replace="common/configs/default_config :: jQueryConfigx"></th:block>
</head>
<body>
	<header th:insert="common/fragments/header :: headerFragment"></header>
	<main>
		<th:block layout:fragment="Content"></th:block>
	</main>
</body>
</html>